// adding item

mutation {
  createProduct(input:{
    name:"Widget6",
    desc: "Another widget for your garden",
    price: 83.99,
    soldOut: ONSALE,
    inventory:11,
    stores: [
      {
        store: "Passadina"
      },
      {
        store: "Ventura"
      }
    ]
  }) {
    id
    name
    desc
    price
    soldOut
    inventory
    stores {
      store
    }
  }
}

// query an item

query {
  getProduct(id: "6321bfa59a1f09e3daf79275") {
    id
    name
    desc
    price
    soldOut
    inventory
    stores {
      store
    }
  }
}

// query all products

query {
  getAllProducts {
    name
    price
    desc
  }
}

// query products with aliases

query {
  price: getProduct(id:"6321be359a1f09e3daf79272") {
    name
    price
  }
  desc: getProduct(id:"6321bfa59a1f09e3daf79275") {
    name
    desc
  }
}

// update item

mutation {
  updateProduct(input: {
    id: "6321bfa59a1f09e3daf79275",
    price: 79.99,
    soldOut:SOLDOUT
    stores: [
      { store: "New Store" },
      { store: "Other new Store"}
  	]
  }) {
    price
    soldOut
    stores {
      store,
      store
    }
  }
}

// delete product

mutation {
  deleteProduct(id: "6321c51e911df45c42656d53")
}